
<!-- Flex container for header and button -->
<div class="d-flex flex-row justify-content-between align-items-center  mb-3 mt-5 border p-3">
  <!-- Heading -->
  <h3 class="text-primary mb-0 fs-4 fs-md-6 ">Search Results</h3>
</div>
<% if @query.present? %>
  <% if @user_results.present? %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <% @user_results.with_highlights.each do |user, highlights| %>
            <tr>
              <td>
                <% if highlights[:name].present? %>
                  <%= raw(highlights[:name]) %>
                <% else %>
                  <%= user.name %>
                <% end %>
              </td>
              <td>
                <% if highlights[:email].present? %>
                  <%= raw(highlights[:email]) %>
                <% else %>
                  <%= user.email %>
                <% end %>
              </td>
              <td>
                <% if highlights[:role].present? %>
                  <%= raw(highlights[:role]) %>
                <% else %>
                  <%= user.role %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
       <!-- Pagination links -->
     <!-- Pagination links -->
    <div class="pagination">
      <%= will_paginate @user_results, params: { query: params[:query] } %>
    </div>
    </div>
  <% else %>
     <div class="alert alert-danger" role="alert">
          No Users found.
        </div>
  <% end %>
<% end %>
