<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= t('medical_records.title') %></h1>
    <% if current_user.role == 'doctor' %>
      <%= link_to t('medical_records.create'), new_user_medical_record_path(@patient), class: 'btn btn-primary' %>
    <% end %>
  </div>
  
  <% if @medical_records.any? %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('medical_records.date') %></th>
          <% if current_user.role == 'patient' %>
            <th><%= t('medical_records.doctor') %></th>
          <% else %>
            <th><%= t('medical_records.patient') %></th>
          <% end %>
          <th><%= t('medical_records.details') %></th>
          <th><%= t('medical_records.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @medical_records.each do |record| %>
          <tr>
            <td><%= record.date.strftime('%B %d, %Y') %></td>
            <% if current_user.role == 'patient' %>
              <td><%= Doctor.find(record.doctor_id).name %></td>
            <% else %>
              <td><%= Patient.find(record.patient_id).name %></td>
            <% end %>
            <td><%= record.details %></td>
            <td>
              <%= link_to t('medical_records.show'), user_medical_record_path(@patient, record), class: 'btn btn-info' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <div class="alert alert-warning" role="alert">
      <%= t('medical_records.no_records') %>
    </div>
  <% end %>
</div>
