<div class="container my-5">
  <div class="row justify-content-center">
  
      <h2 class="text-primary mb-4 ">
        <%= @user.new_record? ? 'Create New User' : 'Edit User' %>
      </h2>

      
        <%= form_with(model: @user, local: true) do |f| %>

          <%= render "devise/shared/error_messages", resource: @user %>


      
              <div class="mb-3 ">
                <%= f.label :name, 'Name *', class: 'fw-bold' %>
                <div class="input-group mt-2">
                  <span class="input-group-text"><i class="bi bi-person"></i></span>
                  <%= f.text_field :name, class: 'form-control', autofocus: true, required: true, minlength: 3, maxlength: 20 %>
                </div>
              </div>

              <div class="mb-3 ">
                <%= f.label :email, 'Email *', class: 'fw-bold' %>
                <div class="input-group mt-2">
                  <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                  <%= f.email_field :email, class: 'form-control', autocomplete: 'email', required: true %>
                </div>
              </div>

              <% if @user.new_record? %>
                <div class="mb-3 ">
                  <%= f.label :password, 'Password *', class: 'fw-bold' %>
                  <div class="input-group mt-2">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    <%= f.password_field :password, class: 'form-control', autocomplete: 'new-password', required: true, minlength: 6 %>
                  </div>
                  <% if @minimum_password_length %>
                    <em class="text-muted mt-2"><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="mb-3">
                  <%= f.label :password_confirmation, 'Confirm Password *', class: 'fw-bold' %>
                  <div class="input-group mt-2">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'new-password', required: true %>
                  </div>
                </div>
              <% end %>

              <div class="mb-3 ">
                <%= f.label :gender, 'Gender *', class: 'fw-bold' %>
                <div class="input-group mt-2">
                  <span class="input-group-text"><i class="bi bi-gender-ambiguous"></i></span>
                  <%= f.select :gender, options_for_select([['Male', 'male'], ['Female', 'female'], ['Other', 'other']]), {}, class: 'form-control', required: true %>
                </div>
              </div>

              <div class="mb-3 ">
                <%= f.label :role, 'Role *', class: 'fw-bold' %>
                <div class="input-group mt-2">
                  <span class="input-group-text"><i class="bi bi-briefcase"></i></span>
                  <% if can?(:create, User.new(role: 'admin')) %>
                    <% role_options = [['Admin', 'admin'], ['Staff', 'staff']] %>
                  <% else %>
                    <% role_options = [['Staff', 'staff']] %>
                  <% end %>
                  <%= f.select :role, options_for_select(role_options, f.object.role), { prompt: 'Select a role' }, class: 'form-control', required: true %>
                </div>
              </div>

      


          <div class="text-end mt-4">
            <%= f.submit @user.new_record? ? 'Create User' : 'Update User', class: 'btn btn-primary' %>
          </div>

         
        <% end %>
      
  </div>
</div>
