<div class="container">
  <h1 class="my-5 font-weight text-primary"><%= t('appointments.edit') %></h1>

  <% if @appointment.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-4 shadow-sm border-0 rounded-lg">
    <div class="card-body bg-light p-4">
      <div class="row mb-3">
        <div class="col-md-6 mb-3">
          <label class="font-weight-semibold text-muted">Patient Name:</label>
          <p class="form-control-plaintext bg-white border rounded p-2 shadow-sm"><%= current_user.name %></p>
        </div>
        <div class="col-md-6 mb-3">
          <label class="font-weight-semibold text-muted">Patient Email:</label>
          <p class="form-control-plaintext bg-white border rounded p-2 shadow-sm"><%= current_user.email %></p>
        </div>
      </div>
      <%= form_with(model: [@user, @appointment], url: user_appointment_path(@user, @appointment), local: true, method: :patch, class: "appointment-form") do |form| %>
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="font-weight-semibold text-muted">Start Time:</label>
            <%= form.datetime_local_field :start_time, class: "form-control bg-white border rounded p-2 shadow-sm" %>
          </div>
          <div class="col-md-6">
            <label class="font-weight-semibold text-muted">End Time:</label>
            <%= form.datetime_local_field :end_time, class: "form-control bg-white border rounded p-2 shadow-sm" %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label class="font-weight-semibold text-muted">Doctor:</label>
            <%= form.select :doctor_id, options_from_collection_for_select(@doctors, 'id', 'name'), { prompt: "Select Doctor" }, class: "form-control bg-white border rounded p-2 shadow-sm" %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label class="font-weight-semibold text-muted">Status:</label>
            <%= form.select :status, options_for_select(@appointment.aasm.states(permitted: true).map { |status| [t("appointments.statuses.#{status}"), status] }, @appointment.status), { prompt: "Select Status" }, class: "form-control bg-white border rounded p-2 shadow-sm" %>
          </div>
        </div>
        <div class="mb-4">
          <label class="font-weight-semibold text-muted">Message:</label>
          <%= form.text_area :message, class: "form-control bg-white border rounded p-3 shadow-sm", rows: 4 %>
        </div>
        <div class="text-end">
          <%= form.submit t('appointments.update'), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
