<!DOCTYPE html>
<html>
<head>
  <title><%=t 'appointments.calendar'%></title>
</head>

<body 
  
  
  <% if current_user.role == 'doctor' %>
    data-doctor-id="<%= current_user.id %>" 
  <% elsif current_user.role == 'patient' %>
    data-patient-id="<%= current_user.id %>" 
  <% else %>
    data-oas-id="<%= current_user.id %>" 
    data-role="<%= current_user.role %>" 
    <%# `@user` can be doctor or patient based on what OAS is viewing %>
    data-doctor-id="<%= @user.try(:id) if @user.is_a?(Doctor) %>" 
    data-patient-id="<%= @user.try(:id) if @user.is_a?(Patient) %>" 
  <% end %>
>


  <div class="container mt-5 text-center" id="calender">
    <div class="d-flex justify-content-between align-items-center mb-5">
      <h1><%=t 'appointments.calendar'%></h1>
      <% if current_user.role == 'doctor' %>
        <div>
          <%= button_to t('appointments.delete_all'), delete_all_user_appointments_path, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete all appointments?' } %>
        </div>
      <% elsif current_user.role == 'patient' %>
        <%= link_to t('appointments.new'), new_user_appointment_path(current_user.id), class: 'btn btn-primary' %>
      <% end %>
    </div>

    <%= month_calendar(events: @appointments) do |date, appointments| %>
      <div class="day" data-date="<%= date.to_s(:db) %>">
        <%= date.day %>
        <% appointments.each do |appointment| %>
          <div id="appointment_<%= appointment.id %>">
            <p>
              <%= link_to appointment.status, user_appointment_path(@user, appointment) %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</body>
</html>
