<h1 class="mb-4">Appointments</h1>

<% if @appointment.present? %>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Status</th>
        <th><%= current_user.role == 'patient' ? 'Doctor' : 'Patient' %></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td><%= @appointment.startTime.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= @appointment.endTime.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= @appointment.status %></td>
        <td><%= current_user.role == 'patient' ? @appointment.doctor.name : @appointment.patient.name %></td>
        <td>
          <div class="row">
            <div class="col-md-2">
          <%= link_to edit_user_appointment_path(current_user, @appointment), class: 'btn btn-sm btn-warning', title: 'Edit' do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          </div>
          <div class="col-md-2">
          <%= button_to user_appointment_path(current_user, @appointment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', title: 'Delete' do %>
            <i class="bi bi-trash"></i>
          <% end %>
          </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info">No appointments found.</p>
<% end %>
