



<% if @appointment.present? %>
  <div class="card mb-4 mt-5">
    <div class="card-header  d-flex justify-content-between align-items-center">
      <span><%= Appointment %></span>
      <span class="text-muted"><%= @appointment.created_at.strftime('%B %d, %Y %H:%M') %></span>
    </div>
    <div class="card-body">
      <div class="d-flex flex-row justify-content-between">
          <p><strong><%= t('appointments.start_time') %>:</strong> <%= @appointment.startTime.strftime('%H:%M %B %d, %Y ') %></p>
          <p><strong><%= t('appointments.end_time') %>:</strong> <%= @appointment.endTime.strftime('%H:%M %B %d, %Y ') %></p>
      </div>

        <p><strong><%= t('appointments.status') %>:</strong> <%= t("appointments.statuses.#{@appointment.status}") %></p>
        <p><strong><%= current_user.role == 'patient' ? t('appointments.doctor') : t('appointments.patient') %>:</strong> <%= current_user.role == 'patient' ? @appointment.doctor.name : @appointment.patient.name %></p>
     
    </div>
    <% if current_user.doctor? || current_user.patient? %>
      <div class="card-footer d-flex justify-content-end">
        <% if @appointment.status != 'completed' %>
          <%= link_to edit_user_appointment_path(current_user, @appointment), class: 'btn btn-warning btn-sm me-2', title: t('appointments.edit') do %>
            <i class="bi bi-pencil"></i> <%= t('appointments.edit') %>
          <% end %>
        <% end %>
        <%= button_to user_appointment_path(current_user, @appointment), method: :delete, data: { confirm: t('appointments.confirm_delete') }, class: 'btn btn-danger btn-sm', title: t('appointments.delete') do %>
          <i class="bi bi-trash"></i> <%= t('appointments.delete') %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="alert alert-info"><%= t('appointments.no_appointments') %></p>
<% end %>





