<h1 class="mb-4"><%= t('appointments.title') %></h1>

<% if @appointment.present? %>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th><%= t('appointments.start_time') %></th>
        <th><%= t('appointments.end_time') %></th>
        <th><%= t('appointments.status') %></th>
        <th><%= current_user.role == 'patient' ? t('appointments.doctor') : t('appointments.patient') %></th>
        <th><%= t('appointments.actions') %></th>
      </tr>
    </thead>
    <tbody>

      <tr>
    <td><%= @appointment.startTime.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= @appointment.endTime.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= t("appointments.statuses.#{@appointment.status}") %></td>
        <td><%= current_user.role == 'patient' ? @appointment.doctor.name : @appointment.patient.name %></td>
        <td>
          <div class="row">
            <div class="col-md-2">
          <%if @appointment.status != 'completed'%>
          <%= link_to edit_user_appointment_path(current_user, @appointment), class: 'btn btn-sm btn-warning', title: t('appointments.edit') do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          <%end%>
          </div>
          <div class="col-md-2">
<%= button_to user_appointment_path(current_user, @appointment), method: :delete, data: { confirm: t('appointments.confirm_delete') }, class: 'btn btn-sm btn-danger', title: t('appointments.delete') do %>            <i class="bi bi-trash"></i>
          <% end %>
          </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <p class="alert alert-info"><%= t('appointments.no_appointments') %></p>
<% end %>
